{% extends 'TrackCompanyBundle::Default/index.html.twig' %}
{% block javascript%}
    {{parent()}}
    {% javascripts '@TrackAccountBundle/Resources/public/js/billingAdress.js' %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
    
{% endblock %}
{% block content %}
    {% if error != '' %}
        {{error}}
    {% else %}
    <h1>{{'billingAdress.settings.billingAdress_title' | trans }}</h1>
    <form action="{{ path('backend_billingAdress_create_entity' ) }}" class="billing-address" method="post" {{ form_enctype(form) }}>   
    {{form_start(form, {'attr': {'class':'billing-address'}})}}
        <fieldset>
            <!-- company name block -->
            <div class="block provider-name">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-home"></div></span>{{'billingAdress.settings.company' | trans }}</strong>
                <div class="holder">
                    <div class="row01 subscriber-salution">
                        {{form_widget(form.saluation)}}
                        
                    </div>
                    <div class="row subscriber-first-name">
                        {{form_widget(form.firstName)}}
                    </div>
                    <div class="row subscriber-last-name">
                        {{form_widget(form.lastName)}}
                    </div>
                    
                    <div class="row subscriber-company-name">
                        {{form_widget(form.companyName)}}
                    </div>
                    <div class="row subscriber-legal-form">
                        {{form_widget(form.legalForm)}}
                    </div>

                    
                </div>
            </div>
            <!-- billing address block -->
            <div class="block bill">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-location"></div></span>{{'billingAdress.settings.address' | trans }}</strong>
                <div class="holder">
                    <div class="row subscriber-street">
                        {{form_widget(form.street)}}
                    </div>
                    <div class="row subscriber-number">
                        {{form_widget(form.number)}}
                    </div>
                    <div class="row subscriber-additive">
                        {{form_widget(form.additive)}}
                    </div>
                    <div class="row subscriber-postcode">
                        {{form_widget(form.postCode)}}
                    </div>
                     {{form_widget(form.city, { 'attr': { 'class':'subscriber-city'} })}}
                     {{form_widget(form.country, { 'attr': { 'class':'subscriber-country'} })}}
                    
                </div>
            </div>
            <!-- tax data block -->
            <div class="block tax-data">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-info"></span></div>{{'billingAdress.settings.taxData' | trans }}</strong>
                <div class="holder radio-view">
                    <div class="row01">
                        {{form_widget(form.legalPerson)}}
                    </div>
                    <div class="legal-person" style="display:block!important;">
                        <div class="row">
                            {% if entity.legalPerson == 'legal' %}
                                {{form_widget(form.taxNumber, { 'attr': { 'id':'legalOrNatural'} })}}
                            {% else %}
                                {{form_widget(form.idNumber, { 'attr': { 'id':'legalOrNatural'} })}}
                            {% endif %}
                        </div>
                        <div class="row">
                            {{form_widget(form.taxOffice, { 'attr': { 'class':'form-control'} })}}
                        </div>

                        
                    </div>
                    <div class="other-person">
                        {# <div class="row">
                            {{form_widget(form.idNumber, { 'attr': { 'id':'legalOrNatural'} })}}
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Tax Office">
                        </div> #}
                    </div>
                </div>
            </div>
            
            <!-- contact person for billing data block -->
            <div class="block contact-address">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-user"></span></div>{{'billingAdress.settings.contact' | trans | raw }} </strong>
                <div class="holder radio-view">
                    <div class="row01" id="anothermechange">
                        {{form_widget(form.contactMe)}}
                        {# <label for="me"><input data-class="me-active" type="radio" name="meOrAnother" id="me" value='me' {% if entity.contactMe == 'me' %} checked='checked' {% endif %} ><span>Me</span></label>
                        <label for="another"><input data-class="another-active" type="radio" name="meOrAnother" value='another' id="another" {% if not entity.contactMe == 'another' %} checked='checked' {% endif %}><span>Another</span></label> #}
                    </div>
                    <div class="me">
                        <div class="row">
                            <input type="text" disabled="disabled" placeholder="{{contact.firstName}}">
                        </div>
                        <div class="row">
                            <input type="text" disabled="disabled" placeholder="{{contact.lastName}}">
                        </div>
                        <div class="row phone">
                            <span class="text"><span class="icon-phone"></span></span>
                            <input type="text" disabled="disabled" placeholder="{{contact.phoneNumber}}">
                        </div>
                        <div class="row mail">
                            <span class="text"><span class="icon-email"></span></span>
                            <input type="text" disabled="disabled" placeholder="{{contact.email}}">
                        </div>
                        <span class="change-pass"><a href="{{ path('backend_account_overview')}}">{{'billingAdress.settings.changeMyaccount' | trans }}</a></span>
                    </div>
                    <div class="another">
                        <div class="row">
                            {{form_widget(form.firstNameContact, { 'attr': {'class':'form-control contact first_name'} })}}
                        </div>
                        <div class="row">
                            {{form_widget(form.lastNameContact, { 'attr': {'class':'form-control contact last_name'} })}}
                        </div>
                        <div class="row phone tooltipTel" {# title='Only landline  phone number please' #}>
                            <span class="text"><span class="icon-phone"></span></span>
                            {{form_widget(form.phoneNumberContact, { 'attr': {'class':'form-control contact phone_number', 'maxlength':15} })}}
                        </div>
                        <div class="row mail">
                            <span class="text"><span class="icon-email"></span></span>
                            {{form_widget(form.emailContact, { 'attr': {'class':'form-control contact email_adress'} })}}
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="btn-holder">
                <button class="save"><strong><span class="icon-right"></span> {{'button.save'|trans}}</strong></button>
                <button class="cancel"><strong>{{'button.cancel'|trans}}</strong></button>
            </div>
        {{ form_widget(form._token) }}  
        </fieldset>
    </form>
    {% endif %}

{% endblock content %}
