{% extends 'base.html.twig' %}

{% block body %}
   
{{ form_start(edit_form) }}
<h1>Sales Document edit</h1>
                                
                                      

<div>
    <table width="100%" id="dynamic-table" class="table table-striped table-bordered table-hover">
        <tr>
            <th>Date </th>
            <th>Numéro </th>
            <th>Client </th>
            <th>Type </th>
        </tr>
        <tr>    
             
            <td>
                {{ form_widget(edit_form.dateCreation) }}
                {{ form_errors(edit_form.dateCreation) }}
            </td>  
            <td>
                 {{ form_widget(edit_form.numDoc,   { 'attr': {   'readonly':true} }) }}
                {{ form_errors(edit_form.numDoc) }}
            </td>
            <td>
                {{ form_widget(edit_form.client) }}
                {{ form_errors(edit_form.client) }}
            </td>
            <td>
                {{ form_widget(edit_form.saleType) }}
                {{ form_errors(edit_form.saleType) }}
            </td>
        </tr>   
    </table>
                                  
    
    <table width="100%"id="dynamic-table" class="table table-striped table-bordered table-hover">
  
        <tr>
           <th width="30px">Article</th>
            <th width="30px" >Quantité</th>
            <th>PV.HT</th>
            <th>Totale HT</th>
            <th>Remise%</th>
            <th>Totale HT Net</th>
            <th>TVA%</th>
            <th>Totale.TTC</th>
            <th>Action </th>
                            
        </tr>
        <tbody id='bm_articleDocuments' data-prototype="{% filter escape %}{% include 'articledocument/articleDocument-template.html.twig' with {'form': edit_form.articleDocuments.vars.prototype} %} {% endfilter %}">          
        {% for articleDocument in edit_form.articleDocuments %}
            {% if edit_form.saleType.vars.value == 'detail' %}
                {% set priceHT = articleDocument.article.vars.data.priceVDHT%}
            {% else %}
                {% set priceHT = articleDocument.article.vars.data.priceVGHT%}
            {% endif %}
            {% set totalhtnet = priceHT * articleDocument.quantite.vars.value * (1- (articleDocument.remise.vars.value/100)) %}
        {# <tr>
            {{ form_errors(articleDocument) }}
            {{ form_widget(articleDocument) }}
        </tr> #}
        <tr role="row" class="odd">
            <td class="article">
                {{ form_widget(articleDocument.article) }}
                {{ form_errors(articleDocument.article) }}
            </td>
            <td class="qty"> 
                {{ form_widget(articleDocument.quantite,  { 'attr': {  'style':'width:50px; '} }) }}
                {{ form_errors(articleDocument.quantite) }}
            </td>
            <td class="pvht">
                <input type="text" maxlength="100" size="10" value="{{priceHT}}" readonly /></td>
           <td class="totalht"><input type="text" maxlength="100" size="10" value="{{priceHT * articleDocument.quantite.vars.value}}" readonly/></td>
           <td class="remise">
                {{ form_widget(articleDocument.remise) }}
                {{ form_errors(articleDocument.remise) }}
           </td>

           <td class="totalhtnet"><input type="text" maxlength="100" size="10" value="{{ priceHT * articleDocument.quantite.vars.value * (1- (articleDocument.remise.vars.value/100))}}" readonly/></td>
           <td class="tva"><input type="text" maxlength="100" size="10" value="{{articleDocument.article.vars.data.tva}}" readonly/></td>
           {% if articleDocument.article.vars.data.tva != null %}
            <td class="totalttc"><input type="text" maxlength="100" size="10" value="{{totalhtnet * (1+(articleDocument.article.vars.data.tva.pourcentageTva/100))}}" readonly/></td>
            {% else %}
            <td class="totalttc"><input type="text" maxlength="100" size="10" value="{{totalhtnet }}" readonly/></td>
        {% endif %}
           <td class="action">
                <div class="hidden-sm hidden-xs action-buttons">
                    <a class="red delete" href="#">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>       
    </table>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <input id="addArticle" type="button" value="+ Ajouter"/>
    </table>
    <table width="100%" id="dynamic-table" class="table table-striped table-bordered table-hover" style="float:right;width:400px">
        
        <tr>    
            <td>Total HT</td> 
            <td class="totalfinalHT">
                {{ form_widget(edit_form.totalHT,  { 'attr': {  'readonly':true} }) }}
                {{ form_errors(edit_form.totalHT) }}
            </td>
        </tr> 
        <tr>
            <td>Remise</td> 

            <td class="totalfinalREMISE">
                {{ form_widget(edit_form.remise,  { 'attr': {  'readonly':true} }) }}
                {{ form_errors(edit_form.remise) }}
            </td>
        </tr>
        <tr>
            <td>Total HT NET</td> 
            <td class="totalfinalHTNET">
                 {{ form_widget(edit_form.totalHTNet,  { 'attr': {  'readonly':true} }) }}
                {{ form_errors(edit_form.totalHTNet) }}
            </td>
        </tr>
        <tr>
            <td>Total TVA</td> 

            <td class="totalfinalTVA">
                {{ form_widget(edit_form.montantTVA,  { 'attr': {  'readonly':true} }) }}
                {{ form_errors(edit_form.montantTVA) }}
            </td>  
        </tr>
        <tr>   
            <td>Total TTC</td> 
            <td class="totalfinalTTC">
                 {{ form_widget(edit_form.totalTTC,  { 'attr': {  'readonly':true} }) }}
                {{ form_errors(edit_form.totalTTC) }}
            </td>
        </tr> 
        <tr style="display:none;">
            <td>
                {{ form_widget(edit_form.dateReglement) }}
                {{ form_errors(edit_form.dateReglement) }}
            </td>
            <td>
                {{ form_widget(edit_form.typeDocument,  { 'attr': {  'value':'delivery'} }) }}
                {{ form_errors(edit_form.typeDocument) }}
            </td>
        </tr>  
    </table>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover"> 
        <tr><td><button class="btn btn-lg btn-success" style="float:right">
            <i class="ace-icon fa fa-check"></i>
            Valider
        </button></td></tr>
     </table>
</div>
       <!--   <input type="submit" value="Ajouter" />   -->                     
                                        


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type='text/javascript'>
       addMultipleEntities('bm_articleDocuments','addArticle',4);

function addMultipleEntities(entityName, btnId , coeff ){

    var $container = $('tbody#'+entityName);
    // link for adding new entity
    var $lienAjout = $('#'+btnId);

    // link add listener
    $lienAjout.click(function(e) {
        index = getIndex(coeff,$container);
        var add = true;
    
        ajouterCategorie($container);
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
    });
    var index = getIndex(coeff, $container) ;
  
    if (index == 0) {
        ajouterCategorie($container);
    }
    else {
       // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
       $container.children('div').each(function() {
       
          ajouterLienSuppression($(this));
       });
    }

    function ajouterCategorie($container) {
        var $prototype = $($container.attr('data-prototype').replace(/__name__/g, index));
        $container.append($prototype);
       index++;
    }
    // get the actual number of divs
    function getIndex(coeff, container){
        var index = container.find(':input').length;
        if (coeff != 0 || coeff != undefined ){
            index = index / coeff ;
        }
        return index;
    }
    // La fonction qui ajoute un lien de suppression d'une catégorie
    function ajouterLienSuppression($prototype) {
        // Création du lien
        $lienSuppression = $('<a href="#" class="btn btn-danger">Remove</a>');

        // Ajout du lien
        $prototype.append($lienSuppression);

        // Ajout du listener sur le clic du lien
        $lienSuppression.click(function(e) {
            $prototype.remove();
            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });
    }
}
$(document).ready(function(){
    $(document).on('change','.article select', function() {
        var element = $(this);
        var type = $('#bm_salesbundle_SalesDocument_saleType').val();
        var id = $(this).val();
        var url1 = Routing.generate('bm_article_getData', {  id: id  });
        $.ajax({
            url:url1,
            type:'GET',
            data: $(this).serialize(),
            dataType: "json",
            success: function(data){

                element.parent().parent().find('td.tva input').val(data.tva);
                if (type =='detail') {
                    element.parent().parent().find('td.pvht input').val(data.priceVDHT);
                    ///element.parent().parent().find('td.pvttc input').val(data.priceVDTTC);
                }
                else {
                    element.parent().parent().find('td.pvht input').val(data.priceVGHT);
                   // element.parent().parent().find('td.pvttc input').val(data.priceVGTTC);
                }  
                updateSum(element.parent().parent());
                
                
            },
        });
    })
    $(document).on('change','#bm_salesbundle_SalesDocument_saleType', function() {
        
        var type = $(this).val();
        
        $('#bm_articleDocuments tr').each(function() {
            var id = $(this).find('td.article select').val();

            var element = $(this);            
            var url1 = Routing.generate('bm_article_getData', {  id: id  });
            $.ajax({
                url:url1,
                type:'GET',
                data: $(this).serialize(),
                dataType: "json",
                success: function(data){

                    element.find('td.tva input').val(data.tva);
                    if (type =='detail') {
                        element.find('td.pvht input').val(data.priceVDHT);
                       // element.find('td.pvttc input').val(data.priceVDTTC);
                    }
                    else {
                        element.find('td.pvht input').val(data.priceVGHT);
                      //  element.find('td.pvttc input').val(data.priceVGTTC);
                    }  
                    updateSum(element);
                    
                    
                },
            });
        })
        
        
    })
    $(document).on('keyup','.qty input', function() {
        var element = $(this);
        updateSum(element.parent().parent());
    })
    $(document).on('keyup','.remise input', function() {
        var element = $(this);
        updateSum(element.parent().parent());
    })
    $(document).on('click', 'a.red.delete',function() {
        $(this).parent().parent().parent().remove()
    })
    function updateSum(element) {
        var priceVHT = getFloatValue(element.find('td.pvht input').val());
       // var priceVTTC = getFloatValue(element.find('td.pvttc input').val());
        var remise = getFloatValue(element.find('td.remise input').val());
        var qty = element.find('td.qty input').val();
        var tva = element.find('td.tva input').val();
        var totalHT= element.find('td.totalht input');
        var totalHTNET= element.find('td.totalhtnet input');
        var totalTTC= element.find('td.totalttc input');
     
        totalVHT = priceVHT*qty;
        totalHT.val(totalVHT);
        if (remise == '0')
            totalHTNET.val(totalHT.val());
        else {      
            var totalP = totalHT.val()*(1-(parseFloat(remise)/100));
            totalHTNET.val(totalP);
        }
        totalVTTC = totalHTNET.val()*(1+(parseFloat(tva)/100));
        
        totalTTC.val(totalVTTC);
        updateSumTotal();   
        
    }
    function updateSumTotal() {
        var sumTotalHT = 0;
        var sumTotalremise = 0;
        var sumTotaltva = 0;
        var sumTotalttc = 0;
        $('#bm_articleDocuments tr td.totalht input').each(function() {
            sumTotalHT+=parseFloat($(this).val());
        })
        $('#bm_salesbundle_SalesDocument_totalHT').val(sumTotalHT);
        $('#bm_articleDocuments tr td.remise input').each(function() {
            if ($(this).val() != '')
                sumTotalremise+=parseFloat((parseFloat($(this).val())/100)*$(this).parent().parent().find('td.totalht input').val());
        })
        $('#bm_salesbundle_SalesDocument_remise').val(sumTotalremise);
        $('#bm_salesbundle_SalesDocument_totalHTNet').val(sumTotalHT-sumTotalremise);
        $('#bm_articleDocuments tr td.tva input').each(function() {
            if ($(this).val() != '')
                sumTotaltva+=parseFloat((parseFloat($(this).val())/100)*$(this).parent().parent().find('td.totalhtnet input').val());
        })
        $('#bm_salesbundle_SalesDocument_montantTVA').val(sumTotaltva);
        $('#bm_articleDocuments tr td.totalttc input').each(function() {
            sumTotalttc+=parseFloat($(this).val());
        })
         $('#bm_salesbundle_SalesDocument_totalTTC').val(sumTotalttc);
    }
    function getFloatValue(value){
        if (value == undefined ) return 0 ; 
        //var newValue =  value.replace(/\./g,'');
        var newValue = value.replace(/,/g,'.');
        var floatValue = parseFloat(newValue);
        if (isNaN(floatValue) ) return 0 ;
        return floatValue ;
    }
    function formatFloatValue(value){
        return value.formatMoney(2,',','.');
    }
})
</script>

        
    {{ form_end(edit_form) }}


{% endblock %}
