{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sales Documents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numdoc</th>
                <th>Datecreation</th>
                <th>Datereglement</th>
                <th>Remise</th>
                <th>Totalht</th>
                <th>Totalhtnet</th>
                <th>Montanttva</th>
                <th>Totalttc</th>
              <!--  <th>typeDocument </th>
                 <th>Client </th>-->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salesDocument in SalesDocuments %}
            <tr>
                <td><a href="{{ path('salesDocument_show', { 'id': salesDocument.id }) }}">{{ salesDocument.id }}</a></td>
                <td>{{ salesDocument.numDoc }}</td>
                <td>{% if salesDocument.dateCreation %}{{ salesDocument.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if salesDocument.dateReglement %}{{ salesDocument.dateReglement|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salesDocument.remise }}</td>
                <td>{{ salesDocument.totalHT }}</td>
                <td>{{ salesDocument.totalHTNet }}</td>
                <td>{{ salesDocument.montantTVA }}</td>
                <td>{{ salesDocument.totalTTC }}</td>
                   <!--<td>{{ salesDocument.typeDocument }}</td>
                   <td>{{ salesDocument.client }}</td> -->
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salesDocument_show', { 'id': salesDocument.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('salesDocument_edit', { 'id': salesDocument.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salesDocument_new') }}">Create a new salesDocument</a>
        </li>
    </ul>
{% endblock %}
