{% extends 'base.html.twig' %}

{% block body %}
    <h1>salesDocument</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ SalesDocument.id }}</td>
            </tr>
            <tr>
                <th>Numdoc</th>
                <td>{{ SalesDocument.numDoc }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if SalesDocument.dateCreation %}{{ SalesDocument.dateCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datereglement</th>
                <td>{% if SalesDocument.dateReglement %}{{ SalesDocument.dateReglement|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ SalesDocument.remise }}</td>
            </tr>
            <tr>
                <th>Totalht</th>
                <td>{{ SalesDocument.totalHT }}</td>
            </tr>
            <tr>
                <th>Totalhtnet</th>
                <td>{{ SalesDocument.totalHTNet }}</td>
            </tr>
            <tr>
                <th>Montanttva</th>
                <td>{{ SalesDocument.montantTVA }}</td>
            </tr>
            <tr>
                <th>Totalttc</th>
                <td>{{ SalesDocument.totalTTC }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salesDocument_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salesDocument_edit', { 'id': SalesDocument.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
