{% extends 'TrackCompanyBundle::Default/index.html.twig' %}
{% block javascript%}
    {{parent()}}
    {% javascripts '@TrackAccountBundle/Resources/public/js/settings.js' %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
    
{% endblock %}
{% block content %}
	<style type="text/css">
	.companyList .drop-pan > a .icon-circled-plus {
    font-size: 12px;
    left: 11px;
    position: absolute;
    top: 15px;
	}
	.companyList .drop-pan > a{
	width: 75px;
    position: relative;
    font-weight: bold;
    z-index: 999;
    display: block;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
    padding: 10px 3px 10px 30px;
    border-bottom: 2px solid #af7210;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background: #f39c12;

	}
	.overview-content {
		float: left;
	}
	table .edit {
		border:0;
	}
	table .edit:hover {
		height: 15px;
	}
	</style>
	

<!-- overview block -->
<div class="course-list">
	<!-- user sms list block tabs -->
	<ul class="tabset">
		<li class="{% if tab == 'sms'%}active{% endif %}">
			<a href="#tab1"><span>{{'sms.list.sms'|trans}}</span> </a>
		</li>
		<li class="{% if tab == 'user'%}active{% endif %}">
			<a href="#tab2"><span>{{'sms.list.user'|trans}}</span> </a>
		</li>
		<li class="{% if tab == 'number'%}active{% endif %}">
			<a href="#tab3"><span>{{'number.list.title'|trans}}</span> </a>
		</li>
		<li class="{% if tab == 'medium'%}active{% endif %}">
			<a href="#tab4"><span>{{'stats.medium'|trans}}</span> </a>
		</li>
		
	</ul>
	<div class="tab-content">
		<!-- sms list tab content 2 -->
		<div id="tab1" class="js-tab-hidden" style="width: 760px;">
			<!-- sms list table -->
			{% include 'TrackCompanyBundle:Backend/Sms:view.html.twig' with {'sms': sms  } %}
		</div>
		<!-- users list tab content 1 -->
		<div id="tab2" style="display: block;">
			<!-- users list table -->
			{% include 'TrackAccountBundle:Backend/Account:listUsersByCompany.html.twig' with {'idCompany': idCompany,'entities':users } %}
			
		</div>
		<!-- number list tab content 1 -->
		<div id="tab3" style="display: block;">
			<!-- number list table -->
			{% include 'TrackCompanyBundle:Backend/Number:listNumbersByCompany.html.twig' with {'idCompany': idCompany,'entities':numbers } %}
			
		</div>
		<!-- meduim list tab content 1 -->
		<div id="tab4" style="display: block;">
			<!-- meduim list table -->
			{% include 'TrackCompanyBundle:Backend/Medium:listMediumByCompany.html.twig' with {'idCompany': idCompany,'entities':mediums } %}
			
		</div>
		
	</div>
</div>

{% endblock %}
