<style type="text/css">
   #addUserForm .select-area {
        width:300px!important;
    }
</style>
<form action="{{ path('backend_account_createUserByCompany', {'idCompany': idCompany }  ) }}" class="billing-address" method="post" {{ form_enctype(form) }} id ="addUserForm">   
    {{form_start(form, {'attr': {'class':'billing-address'}})}}
        
    <div class="row add" style="margin-bottom:20px;">
        {{form_widget(form.name)}}
    </div>
    
    <div class="row phone tooltipTel" {# title='Only landline  phone number please' #}>
        <span class="text"><span class="icon-phone"></span></span>
        {{form_widget(form.phoneNumber)}}
    </div>
    <div class="row mail" style="margin-bottom:20px;">
        <span class="text"><span class="icon-email"></span></span>
        {{form_widget(form.email)}}
    </div>
                    
    <div class="row3">
        {{form_widget(form.language)}}
    </div>
                   
    <div class="row3">
        {{form_widget(form.timezone)}}
    </div>
                  
    <div class="row password">
        {{form_widget(form.password)}}
    </div>
        
    <div class="btn-holder">
        <button class="save"><strong><span class="icon-right"></span> {{'button.save'|trans}}</strong></button>
        <button class="cancel"><strong>{{'button.cancel'|trans}}</strong></button>
    </div>
{{ form_widget(form._token) }}  
        
    </form>
