<form action="{{path('backend_account_delete',{'id':entity.id, 'type' : type})}}" id="deleteAccountForm" class="billing-address" method="post">
	<fieldset>
		<div class="delete-text">
			{{'popup.delete.user.text'|trans}}:<br><b>{{entity.email}}</b>?
		</div>
		
		<div class="btn-holder">
			<button class="delete-btn" type="submit"><strong><span class="icon-right"></span> {{'button.delete'|trans}}</strong></button>
			<button class="cancel"><strong>{{'button.cancel'|trans}}</strong></button>
		</div>
		
	</fieldset>
</form>