{% extends 'TrackCompanyBundle::Default/index.html.twig' %}
{% block javascript%}
    {{parent()}}
    {% javascripts '@TrackAccountBundle/Resources/public/js/account.js' %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
    
{% endblock %}
{% block content %}
    {% if error != '' %}
        {{error}}
    {% else %}
    <h1>{{'account.settings.account_title' | trans }}</h1>
    <form action="{{ path('backend_account_edit_entity', {'id': id }  ) }}" class="billing-address" method="post" {{ form_enctype(form) }}>   
    {{form_start(form, {'attr': {'class':'billing-address'}})}}
        <fieldset>
        
            <!-- your account block -->
            <div class="block your-account">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-user"></span></div>{{'account.settings.account_block' | trans }}</strong>
                <div class="holder">
                    <div class="another">
                        
                        <div class="row">
                            {{form_widget(form.name)}}
                        </div>
                        
                        <div class="row phone tooltipTel" {# title='Only landline  phone number please' #}>
                            <span class="text"><span class="icon-phone"></span></span>
                            {{form_widget(form.phoneNumber)}}
                        </div>
                        <div class="row mail">
                            <span class="text"><span class="icon-email"></span></span>
                            {{form_widget(form.email)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block type">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-flag"></span></div>{{'account.settings.language.title' | trans }}</strong>
                <div class="holder">
                    <div class="row-holder">
                        <div class="row3">
                            {{form_widget(form.language)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block type">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-flag"></span></div>{{'account.settings.timezone.title' | trans }}</strong>
                <div class="holder">
                    <div class="row-holder">
                        <div class="row3">
                            {{form_widget(form.timezone)}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- password block -->
            <div class="block your-account">
                <strong class="title"><div class="circle-bg-icons"><span class="icon-password"></span></div>{{'account.settings.password' | trans }}</strong>
                <div class="holder password">
                    <div class="another">
                        <div class="row password">
                            {{form_widget(form.currentPassword)}}
                        </div>
                        <div class="row password">
                            {{form_widget(form.newPassword)}}
                        </div>
                        <div class="row password">
                            {{form_widget(form.newRetypedPassword)}}
                        </div>
                        <input type="hidden" id="id_user" value="{{app.user.id}}">
                        
                        <input type="hidden" id="email_user" value="{{app.user.email}}">
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') == false %}
            <div class="row" style="display:none">
                            {{form_widget(form.company)}}
                        </div>
                    {% endif %}
            <div class="btn-holder">
                <button class="save"><strong><span class="icon-right"></span> {{'button.save'|trans}}</strong></button>
                <button class="cancel"><strong>{{'button.cancel'|trans}}</strong></button>
            </div>
        {{ form_widget(form._token) }}  
        </fieldset>
    </form>
    {% endif %}

{% endblock content %}
