{% for flashMessage in app.session.flashbag.get('error_user') %}
    <div class="error">
    	
          {{flashMessage['email'] | raw}}
    </div>
{% endfor %}
<div class="companyList add-course">
	<div class="drop-pan">
		<a href="#adduserByCompany" data-id="{{idCompany}}" class="adduserByCompany opener lightbox" style="float:left;margin-top:10px;">{{'account.list.user'|trans}} <span class="icon-circled-plus"></span></a>
	</div>
	
</div>

<div class="overview-content">
	<form action="#" class="billing-address">
	<fieldset>
		<div class="overview-content campaign-overview-table">
		<table id="myTable" class="tablesorter"  style="background: #fff;">
			<thead>
			<tr>
				<th class="col02">{{'account.list.id'|trans}}</th>
				<th class="col01">{{'account.list.company'|trans}}</th>
				<th class="col01">{{'account.list.name'|trans}}</th>
				<th class="col01">{{'account.list.email'|trans}}</th>
				<th class="col02">{{'account.list.action'|trans}}</th>
				
			</tr>
			</thead>
			
			<tbody>
			{% for entity in entities %}	
			<tr>
				<td class="col02"><span class="medium-td-1"><b>{{entity.idRelatedToCompany}}  </b></span></td>
				<td class="col01"><b>{{entity.company.name}}</b></td>
				<td class="col02"><b>{{entity.name}} </b></td>
				<td class="col02"><b>{{entity.email}}</b></td>
				<td>
					<div class="link-block">
					<a href="#deleteuser" class="deleteuser delet lightbox" data-id="{{entity.id}}"data-type="{{idCompany}}" ><span class="icon-circled-cross2"></span></a>
					<a href="#edituserByCompany" class="edituserByCompany edit lightbox" data-id-company="{{idCompany}}" data-id="{{entity.id}}"><span class="icon-edit"></span></a>
					</div>
				</td>


				
			</tr>
			{% endfor %}
			
			</tbody>
		</table>
		</div>
	</fieldset>
	</form>
</div>
