{% extends 'TrackCompanyBundle::Default/index.html.twig' %}
{% block javascript%}
    {{parent()}}
    {% javascripts '@TrackAccountBundle/Resources/public/js/account.js' %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
    
{% endblock %}
{% block content %}
	<style type="text/css">
	.companyList .drop-pan > a .icon-circled-plus {
    font-size: 12px;
    left: 11px;
    position: absolute;
    top: 15px;
	}
	.companyList .drop-pan > a{
	width: 75px;
    position: relative;
    font-weight: bold;
    z-index: 999;
    display: block;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
    padding: 10px 3px 10px 30px;
    border-bottom: 2px solid #af7210;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background: #f39c12;

	}
	.overview-content {
		float: left;
	}
	table .edit {
		border:0;
	}
	table .edit:hover {
		height: 15px;
	}
	</style>
{% for flashMessage in app.session.flashbag.get('error_user') %}
        <div class="error">
        	
              {{flashMessage['email'] | raw}}
        </div>
    {% endfor %}
<div class="companyList add-course">
	<div class="drop-pan">
		<a href="#adduser" class="opener lightbox" style="float:left;margin-top:10px;">{{'account.list.user'|trans}} <span class="icon-circled-plus"></span></a>
	</div>
	
</div>

<div class="overview-content">
	<form action="#" class="billing-address">
	<fieldset>
		<div class="overview-content campaign-overview-table">
		<table id="myTable" class="tablesorter" style="background: #fff;">
			<thead>
			<tr>
				<th class="col02">{{'account.list.id'|trans}}</th>
				<th class="col01">{{'account.list.company'|trans}}</th>
				<th class="col01">{{'account.list.name'|trans}}</th>
				<th class="col01">{{'account.list.email'|trans}}</th>
				<th class="col02">{{'account.list.action'|trans}}</th>
				
			</tr>
			</thead>
			
			<tbody>
			{% for entity in entities %}	
			<tr>
				<td class="col02"><span class="medium-td-1"><b>{{entity.idRelatedToCompany}}  </b></span></td>
				<td class="col01"><b>{{entity.company.name}}</b></td>
				<td class="col02"><b>{{entity.name}} </b></td>
				<td class="col02"><b>{{entity.email}}</b></td>
				<td>
					<div class="link-block">
					<a href="#deleteuser" class="deleteuser delet lightbox" data-id="{{entity.id}}" data-type="all"><span class="icon-circled-cross2"></span></a>
					<a href="#edituser" class="edituser edit lightbox" data-id="{{entity.id}}"><span class="icon-edit"></span></a>
					</div>
				</td>


				
			</tr>
			{% endfor %}
			
			</tbody>
		</table>
		</div>
	</fieldset>
	</form>
</div>
{% endblock %}
