{% extends "::base.html.twig"%}
{% block javascript%}
    {{parent()}}
  {% javascripts 
    '@TrackAccountBundle/Resources/public/js/login.js' %}
        <script src="{{asset_url}}"></script>
  {% endjavascripts%}
 {% endblock javascript%}
{% block body%}
<body class="home">
  <!-- header of the page -->
  <header id="header">
    <div class="holder">
      <!-- page logo --> 
      <div class="logo"><a href="https://www.lokalist.co"><img src ="{{ asset('images/lokalist-logo.png')}}" width="170px" height="40px" class="logoGraphic"> 
        {# <img src="{{ asset('images/retina/logo@2.png') }}" widht="35px" height="14px" class="logoGraphic"> #}</a>
      </div>
    </div>
  </header>
  <!-- contain main informative part of the site -->
  <!-- contain visual of the site -->
  <section class="visual">
    <div class="intro">
      <div class="section slide-active" >
        
        <div class="provider-box" style="margin: 0px auto; left: 0px;">
          <div class="provider-login-area">
            <form action="{{ path("security_check") }}" class="billing-address form-provider" method="post" id="login">
              <fieldset>
                <!-- contact person for billing data block -->
                <h2><span class="icon-company"></span> {{'login.title'|trans}} </h2>
                {% if error %}
                  <div class='warning-box'> 
                    {% if (error.message == 'Bad credentials') %}
                      {{'error.message.badCred' | trans }}
                      {# {{ error.message }} #}
                    {% else %}
                     
                    {{'error.message.connectionDown' | trans }}
                     {#  Connection down #}
                    {% endif %} </div>
                {% endif %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage | raw}}
                    </div>
                {% endfor %}
                <div class="block contact-address">
                    <div class="row mail">
                        <span class="text"><span class="icon-email"></span></span>
                        <input type="text" id="username" name="_username" >
                      </div>
                      <div class="row password">
                        <input type="password" id="password" name="_password">
                      </div>
                      <span class="change-pass"><a class="lightbox" href="#popup2">{{'login.forgetPass'|trans}}</a></span>
                      <input type="checkbox" id="remember_me" name="_remember_me"  />
                      <label for="remember_me">{{'login.rememberMe'|trans}}</label> 
                </div>
                <div class="btn-holder">
                  <button class="login"><strong><span class="icon-right"></span> {{'login.button'|trans}}</strong></button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="photo">
          <img width="1704" height="481" alt="image description" src="{{asset('uploads/backgrounds/slider_bkg_tiny_grid.png')}}">
        </div>
      </div>
    </div>
  </section>

  <div id="main">
    <!-- contain container informative part of the site -->
    <div class="container" style="margin-bottom:50px;"></div>
  </div>
 
  
  <!-- footer of the page -->
  <footer id="footer">
    <!-- footer holder of the page -->
    <div class="holder">
      <!-- footer info of the page -->
      <div class="info">
      <!-- footer copyright -->
      <strong class="copyright" style="border-top:0px;">&copy; {{ "now"|date("Y") }} <a href="#"><b>lokalist</b>.co</a></strong>
    </div>
  </footer>

  <!-- lightbox of the page -->
  <div class="popup-holder">
    <div id="popup2" class="lightbox">
      <div class="pop-area provder forgotpassword">
        <h2>{{'login.forgetPass'|trans}}?</h2>
        <div class="categ-block">
          <form action="{{path('backend_account_forgetPassword')}}" class="billing-address" method='post' id='forgetPassword'>
            <fieldset>
              <p>{{'login.enterEmail'|trans}}:</p>
              <div class="row mail">
                  <span class="text"><span class="icon-email"></span></span>
                  <input type="text" name="emailPassword" id="emailForgetPassword" placeholder="Email" required>
                </div>
              <div class="btn-holder">
                <button class="save" id="forgetPasswordSubmit"><strong><span class="icon-right"></span> {{'button.submit'|trans}}</strong></button>
                <button class="cancel"><strong>{{'button.cancel'|trans}}</strong></button>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="message_registration"></div>
      </div>
    </div>
  </div>

  
  {% endblock %}

