{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typedocs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeDoc in typeDocs %}
            <tr>
                <td><a href="{{ path('typedoc_show', { 'id': typeDoc.id }) }}">{{ typeDoc.id }}</a></td>
                <td>{{ typeDoc.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typedoc_show', { 'id': typeDoc.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typedoc_edit', { 'id': typeDoc.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typedoc_new') }}">Create a new typeDoc</a>
        </li>
    </ul>
{% endblock %}
