{% extends 'base.html.twig' %}

{% block body %}

 {{ form_start(form) }}

    <div class="main-content">
                <div class="main-content-inner">
                    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a href="#">Home</a>
                            </li>

                            <li>
                                <a href="#">Données</a>
                            </li>
                         <li class="active">Gestion Des Fournisseurs </li>
                        </ul><!-- /.breadcrumb -->

                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div><!-- /.nav-search -->
                    </div>

                    <div class="page-content">
                        <div class="ace-settings-container" id="ace-settings-container">
                            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                                <i class="ace-icon fa fa-cog bigger-130"></i>
                            </div>

                            <div class="ace-settings-box clearfix" id="ace-settings-box">
                                <div class="pull-left width-50">
                                    <div class="ace-settings-item">
                                        <div class="pull-left">
                                            <select id="skin-colorpicker" class="hide">
                                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                            </select>
                                        </div>
                                        <span>&nbsp; Choose Skin</span>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-add-container">
                                            Inside
                                            <b>.container</b>
                                        </label>
                                    </div>
                                </div><!-- /.pull-left -->

                                <div class="pull-left width-50">
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                                    </div>
                                </div><!-- /.pull-left -->
                            </div><!-- /.ace-settings-box -->
                        </div><!-- /.ace-settings-container -->










                        <div class="page-header">
                            <h1>
                                Ajouter Un Fournisseur
                                
                            </h1>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        

                                    <div class="vspace-6-sm"></div>

                                    <div class="col-sm-6">
                                        <div class="tabbable tabs-below">
                                            

                                            
                                        </div>
                                    </div>
                                </div><!-- /.row -->

                                <div class="space"></div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tabbable tabs-left">
                                            <ul class="nav nav-tabs" id="myTab3">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#home3">
                                                        <i class="pink ace-icon fa fa-info-circle  bigger-110"></i>
                                                         Autre Données
                                                    </a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#profile3">
                                                         <i class="pink ace-icon fa  fa-headphones  bigger-110"></i>

                                                        Adresse
                                                    </a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#dropdown13">
                                                    <i class="pink ace-icon fa fa-book  bigger-110"></i>
                                                        
                                                       Annaire
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="home3" class="tab-pane in active">
                                                <!-- -->
                               
                                                     

                                                     <div class="form-group">
                                                    <div class="col-sm-9">
                                                    <label>code </label>
                                                          
                                                         {{ form_widget(form.codeFour) }}
                                                         {{ form_errors(form.codeFour) }}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                     <div class="col-sm-9">
                                                          <label>Nom </label>
                                                           {{ form_widget(form.nomFour) }}
                                                           {{ form_errors(form.nomFour) }}
                                                            
                                                    </div>
                                                </div>
                                                

                                                <div class="form-group">
                                                 <div class="col-sm-9">
                                                      <label>Raison Sociale  </label>

                                                     {{ form_widget(form.raisonSocialFour) }}
                                                      {{ form_errors(form.raisonSocialFour) }}
                                                </div> 
                                                </div>             
                                                    
                                                    
                                                    
                                                       
                                                    <!-- -->
                                                </div>

                                                <div id="profile3" class="tab-pane">
                                                <!-- -->
                                                
                                                <div class="form-group">
                                                <div class="col-sm-9">
                                                       <label>Ville </label>

                                                {{ form_widget(form.villeFour) }}
                                                {{ form_errors(form.villeFour) }}
                                                 

                                                </div>
                                            </div>


                                            <div class="form-group">
                                              <div class="col-sm-9">
                                                        <label>Pays </label>

                                                {{ form_widget(form.paysFour) }}
                                                 {{ form_errors(form.paysFour) }}
                                                </div>
                                            </div>


                                             <div class="form-group">
                                              <div class="col-sm-9">
                                                        <label>Code Postal </label>

                                                {{ form_widget(form.codPosFour) }}
                                                 {{ form_errors(form.codPosFour) }}
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="col-sm-9">

                                                     <label>Téléphone </label>

                                                {{ form_widget(form.telFour) }}
                                                 {{ form_errors(form.telFour) }}
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                           <label>Email </label>

                                                {{ form_widget(form.emailFour) }}
                                                 {{ form_errors(form.emailFour) }}
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                           <label>Fax </label>
                                                        {{ form_widget(form.faxFour) }}
                                                         {{ form_errors(form.faxFour) }}
                                                </div>
                                            </div>



                                            

                                           

                                                    <!-- -->
                                                </div>

                                                <div id="dropdown13" class="tab-pane">
                                                    <!-- -->
                                     <div class="form-group">
                                                <div class="col-sm-9">
                                                           <label>Site Web </label>
                                                        {{ form_widget(form.siteWebFour) }}
                                                        {{ form_errors(form.siteWebFour) }}

                                                </div>
                                            </div> 
                                            
                                            <div class="form-group">
                                               <div class="col-sm-9">
                                                           <label>Matricule Fiscale </label>
                                                        {{ form_widget(form.matriculeFiscalFour) }}
                                                        {{ form_errors(form.matriculeFiscalFour) }}
                                                </div>
                                            </div>                  
                                                    
                                                    
                                                    
                                                    
                                             

                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                           <label>Code Douane </label>
                                                        {{ form_widget(form.codDouaneFour) }}
                                                        {{ form_errors(form.codDouaneFour) }}
                                                </div>
                                            </div>
                                              <div class="form-group">
                                                <div class="col-sm-9">
                                                          <label>Commantaire </label>
                                                        {{ form_widget(form.commantaireFour) }}
                                                        {{ form_errors(form.commantaireFour) }}
                                                </div>
                                            </div>
                                            

                                            
                                                    <!-- -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col -->

                                    <div class="vspace-6-sm"></div>

                                    <div class="col-sm-6">
                                        <div class="tabbable">
                                            

                                            
                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                                </br>
                                </br>
                                </br>
                                </br>
             <!--<center>    <button class="btn btn-lg btn-success">
                                                <i class="ace-icon fa fa-check"></i>
                                                 <input type="submit" value="Create" />
                                            </button>
                                            </center>-->                   

            
  <input type="submit" value="Create" />

  

<!--<a href="{{ path('article_index') }}">Back to the list</a>-->


    
    {{ form_end(form) }}

   
<!-- <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul> -->
{% endblock %}




