{% extends 'base.html.twig' %}

{% block body %}
    <h1>provider</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provider.id }}</td>
            </tr>
             <tr>
                <th>codeFour</th>
                <td>{{ provider.codeFour }}</td>
            </tr>
            <tr>
                <th>Nomfour</th>
                <td>{{ provider.nomFour }}</td>
            </tr>
           
            <tr>
                <th>Raisonsocialfour</th>
                <td>{{ provider.raisonSocialFour }}</td>
            </tr>
            <tr>
                <th>Codposfour</th>
                <td>{{ provider.codPosFour }}</td>
            </tr>
            <tr>
                <th>Villefour</th>
                <td>{{ provider.villeFour }}</td>
            </tr>
            <tr>
                <th>Paysfour</th>
                <td>{{ provider.paysFour }}</td>
            </tr>
            <tr>
                <th>Telfour</th>
                <td>{{ provider.telFour }}</td>
            </tr>
            <tr>
                <th>Emailfour</th>
                <td>{{ provider.emailFour }}</td>
            </tr>
            <tr>
                <th>Commantairefour</th>
                <td>{{ provider.commantaireFour }}</td>
            </tr>
            <tr>
                <th>Faxfour</th>
                <td>{{ provider.faxFour }}</td>
            </tr>
            <tr>
                <th>Sitewebfour</th>
                <td>{{ provider.siteWebFour }}</td>
            </tr>
            <tr>
                <th>Matriculefiscalfour</th>
                <td>{{ provider.matriculeFiscalFour }}</td>
            </tr>
            <tr>
                <th>Coddouanefour</th>
                <td>{{ provider.codDouaneFour }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('provider_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('provider_edit', { 'id': provider.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
