{% extends 'base.html.twig' %}

{% block body %}

 {{ form_start(edit_form) }}

    <div class="main-content">
                <div class="main-content-inner">
                    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a href="#">Home</a>
                            </li>

                            <li>
                                <a href="#">Données</a>
                            </li>
                            <li class="active">Gestion Des Clients</li>
                        </ul><!-- /.breadcrumb -->

                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div><!-- /.nav-search -->
                    </div>

                    <div class="page-content">
                        <div class="ace-settings-container" id="ace-settings-container">
                            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                                <i class="ace-icon fa fa-cog bigger-130"></i>
                            </div>

                            <div class="ace-settings-box clearfix" id="ace-settings-box">
                                <div class="pull-left width-50">
                                    <div class="ace-settings-item">
                                        <div class="pull-left">
                                            <select id="skin-colorpicker" class="hide">
                                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                            </select>
                                        </div>
                                        <span>&nbsp; Choose Skin</span>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-add-container">
                                            Inside
                                            <b>.container</b>
                                        </label>
                                    </div>
                                </div><!-- /.pull-left -->

                                <div class="pull-left width-50">
                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                                    </div>

                                    <div class="ace-settings-item">
                                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                                    </div>
                                </div><!-- /.pull-left -->
                            </div><!-- /.ace-settings-box -->
                        </div><!-- /.ace-settings-container -->




<pre>
{{ form_errors(edit_form.numcl) }}</pre>






                        <div class="page-header">
                            <h1>
                                Ajouter Un Client
                                
                            </h1>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        

                                    <div class="vspace-6-sm"></div>

                                    <div class="col-sm-6">
                                        <div class="tabbable tabs-below">
                                            

                                            
                                        </div>
                                    </div>
                                </div><!-- /.row -->

                                <div class="space"></div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tabbable tabs-left">
                                            <ul class="nav nav-tabs" id="myTab3">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#home3">
                                                        <i class="pink ace-icon fa fa-info-circle  bigger-110"></i>
                                                        Autre Données
                                                    </a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#profile3">
                                                         <i class="pink ace-icon fa  glyphicon-euro  bigger-110"></i>

                                                        Adresse
                                                    </a>
                                                </li>

                                               <!-- <li>
                                                    <a data-toggle="tab" href="#dropdown13">
                                                    <i class="pink ace-icon fa fa-book  bigger-110"></i>
                                                        
                                                        Caractéristique
                                                    </a>
                                                </li>-->
                                            </ul>

                                            <div class="tab-content">
                                                <div id="home3" class="tab-pane in active">
                                                <!-- -->
                                   <div class="form-group">
                                                    <div class="col-sm-9">
                                                    <label>Numéro</label>
                                                         
                                                         {{ form_widget(edit_form.numcl) }}
                                                         {{ form_errors(edit_form.numcl) }}
                                                    </div>
                                                </div>
                                             
                                    <div class="form-group">
                                                     <div class="col-sm-9">
                                                        <label>Nom </label>
                                                           {{ form_widget(edit_form.nomcl) }}
                                                           {{ form_errors(edit_form.nomcl) }}
                                                            
                                                    </div>
                                                </div>
                                                

                                                <div class="form-group">
                                                 <div class="col-sm-9">

                                                  <label>Raison Social</label>

                                                     {{ form_widget(edit_form.raisonsocialcl) }}
                                                      {{ form_errors(edit_form.raisonsocialcl) }}
                                                </div> 
                                                </div>             
                                                    
                                                    
                                                    
                                            <div class="form-group">
                                            <div class="col-sm-9">
                                                     <label>Matricule Fiscal</label>

                                                     {{ form_widget(edit_form.matriculeFiscalCl) }}
                                                     {{ form_errors(edit_form.matriculeFiscalCl) }}
                                                    </div>
                                                </div>  

                                              <div class="form-group">
                                            <div class="col-sm-9">
                                                     <label>N°exoneration Fiscale</label>

                                                     {{ form_widget(edit_form.nExonerationFiscal) }}
                                                     {{ form_errors(edit_form.nExonerationFiscal) }}
                                                    </div>
                                                </div> 
                                                

                                                 <div class="form-group">
                                            <div class="col-sm-9">
                                                     <label>code douane</label>

                                                     {{ form_widget(edit_form.codeDouaneCl) }}
                                                     {{ form_errors(edit_form.codeDouaneCl) }}
                                                    </div>
                                                </div>     



                                                 <div class="form-group">
                                            <div class="col-sm-9">
                                                     <label>Timbre exoneration fiscal</label>

                                                     {{ form_widget(edit_form.exoTimbreFiscalCl) }}
                                                     {{ form_errors(edit_form.exoTimbreFiscalCl) }}
                                                    </div>
                                                </div>  


                                                      <div class="form-group">
                                            <div class="col-sm-9">
                                                     <label>Type</label>

                                                     {{ form_widget(edit_form.typecommercialeCl) }}
                                                     {{ form_errors(edit_form.typecommercialeCl) }}
                                                    </div>
                                                </div>  

                                                  <div class="form-group">
                                            <div class="col-sm-9">
                                                     <label>Remise</label>

                                                     {{ form_widget(edit_form.remiseCl) }}
                                                     {{ form_errors(edit_form.remiseCl) }}
                                                    </div>
                                                </div>                

                                                  
                                                                 

                                              

     <!--- toooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooohhy -->                                                      
                                                    <!-- -->
                                                </div>
<!--- toooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooohhy -->
                                                <div id="profile3" class="tab-pane">
                                                <!-- -->
                                                
                                               <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>adresse</label>

                                                     {{ form_widget(edit_form.adressecl) }}
                                                     {{ form_errors(edit_form.adressecl) }}
                                                    </div>
                                                </div> 

                                                 <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>code Postal</label>

                                                     {{ form_widget(edit_form.codepostalcl) }}
                                                     {{ form_errors(edit_form.codepostalcl) }}
                                                    </div>
                                                </div>

                                                     <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>Ville</label>

                                                     {{ form_widget(edit_form.villecl) }}
                                                     {{ form_errors(edit_form.villecl) }}
                                                    </div>
                                                </div> 

                                                       <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>PAys</label>

                                                     {{ form_widget(edit_form.payscl) }}
                                                     {{ form_errors(edit_form.payscl) }}
                                                    </div>
                                                </div> 

                                                   <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>Téléphone</label>

                                                     {{ form_widget(edit_form.telcl) }}
                                                     {{ form_errors(edit_form.telcl) }}
                                                    </div>
                                                </div> 


                                                  <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>Email</label>

                                                     {{ form_widget(edit_form.emailcl) }}
                                                     {{ form_errors(edit_form.emailcl) }}
                                                    </div>
                                                </div> 


                                                  <div class="form-group">
                                            <div class="col-sm-9">
                                                           <label>Fax</label>

                                                     {{ form_widget(edit_form.faxCl) }}
                                                     {{ form_errors(edit_form.faxCl) }}
                                                    </div>
                                                </div> 

                                           
<!-- id autre donnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn tofa hana -->
                                                    <!-- -->
                                                </div>

                                               
                                            </div>
                                        </div>
                                    </div><!-- /.col -->

                                    <div class="vspace-6-sm"></div>

                                    <div class="col-sm-6">
                                        <div class="tabbable">
                                            

                                            
                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                                </br>
                                </br>
                                </br>
                                </br>
             <!--<center>    <button class="btn btn-lg btn-success">
                                                <i class="ace-icon fa fa-check"></i>
                                                 <input type="submit" value="Create" />
                                            </button>
                                            </center>-->                   

            
  <input type="submit" value="Modifier" />

  




    
    {{ form_end(edit_form) }}

   

{% endblock %}




