{% extends 'base.html.twig' %}

{% block body %}
<script>

</script>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Données</a>
        </li>
        <li class="active">Gestion des clients </li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>


<div class="page-content" id="page-content">
    <div class="ace-settings-container" id="ace-settings-container">
        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
            <i class="ace-icon fa fa-cog bigger-130"></i>
        </div>

        <div class="ace-settings-box clearfix" id="ace-settings-box">
            <div class="pull-left width-50">
                <div class="ace-settings-item">
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>&nbsp; Choose Skin</span>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                    <label class="lbl" for="ace-settings-add-container">
                        Inside
                        <b>.container</b>
                    </label>
                </div>
            </div><!-- /.pull-left -->

            <div class="pull-left width-50">
                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                </div>
            </div><!-- /.pull-left -->
        </div><!-- /.ace-settings-box -->
    </div><!-- /.ace-settings-container -->

    <div class="row">

        <div class="col-xs-12">
            <button    onclick="window.location.href='{{ path('client_new') }}'" style="float: right;margin-right: 45px;margin-top: 12px;"> Créer un nouvel Client</button>

            
            



            <h3 class="header smaller lighter blue">Liste Des Clients </h3>
            
                    
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>


        <div class="table-header">
            Liste Article
        </div>



        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                         <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Raison Social</th>
                <th>Adresse</th>
                <th>Code Postal</th>
             <!--   <th>Villecl</th> -->
              <!--  <th>Payscl</th> -->
                <th>Télephone</th>
               <!-- <th>Emailcl</th>  -->
                <th>Matricule Fiscal</th>
              <!--  <th>Nexonerationfiscal</th>
                <th>Codedouanecl</th>
                <th>Exotimbrefiscalcl</th>
                <th>Typecommercialecl</th>-->
                <th>Remise</th>
                <th>Fax</th>
                <th>Actions</th>
            </tr>
                    </tr>
                </thead>

                <tbody>

                    {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.numcl }}</td>
                <td>{{ client.nomcl }}</td>
                <td>{{ client.raisonsocialcl }}</td>
                <td>{{ client.adressecl }}</td>
                <td>{{ client.codepostalcl }}</td>
               <!-- <td>{{ client.villecl }}</td> 
                <td>{{ client.payscl }}</td>-->
                <td>{{ client.telcl }}</td>
               <!-- <td>{{ client.emailcl }}</td> -->
                <td>{{ client.matriculeFiscalCl }}</td>
               <!-- <td>{{ client.nExonerationFiscal }}</td>
                <td>{{ client.codeDouaneCl }}</td>
                <td>{{ client.exoTimbreFiscalCl }}</td>
                <td>{{ client.typecommercialeCl }}</td> -->
                <td>{{ client.remiseCl }}</td>
                <td>{{ client.faxCl }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('client_edit', { 'id': client.id }) }}"class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>

                                <a href="#"  class="tooltip-error modal6" data-toggle="modal" data-target="#exampleModal6" data-action="{{ path('client_delete', { 'id': client.id }) }}">
      <span class="red">
   <i class="ace-icon fa fa-trash-o bigger-120"></i>
    </span>
  </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
 


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


    <div class="navigation"  >
                <center>
                     {{ knp_pagination_render(clients) }}
                </center>
            </div>

<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> supprimer un client </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" method="post" action="">
        <H1>voulez vous supprimer ?</H1>
        <input name="_method" value="DELETE" type="hidden">
                <input value="Delete" type="submit">
            
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div> 

{% endblock %}
