{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Numcl</th>
                <td>{{ client.numcl }}</td>
            </tr>
            <tr>
                <th>Nomcl</th>
                <td>{{ client.nomcl }}</td>
            </tr>
            <tr>
                <th>Raisonsocialcl</th>
                <td>{{ client.raisonsocialcl }}</td>
            </tr>
            <tr>
                <th>Adressecl</th>
                <td>{{ client.adressecl }}</td>
            </tr>
            <tr>
                <th>Codepostalcl</th>
                <td>{{ client.codepostalcl }}</td>
            </tr>
            <tr>
                <th>Villecl</th>
                <td>{{ client.villecl }}</td>
            </tr>
            <tr>
                <th>Payscl</th>
                <td>{{ client.payscl }}</td>
            </tr>
            <tr>
                <th>Telcl</th>
                <td>{{ client.telcl }}</td>
            </tr>
            <tr>
                <th>Emailcl</th>
                <td>{{ client.emailcl }}</td>
            </tr>
            <tr>
                <th>Matriculefiscalcl</th>
                <td>{{ client.matriculeFiscalCl }}</td>
            </tr>
            <tr>
                <th>Nexonerationfiscal</th>
                <td>{{ client.nExonerationFiscal }}</td>
            </tr>
            <tr>
                <th>Codedouanecl</th>
                <td>{{ client.codeDouaneCl }}</td>
            </tr>
            <tr>
                <th>Exotimbrefiscalcl</th>
                <td>{{ client.exoTimbreFiscalCl }}</td>
            </tr>
            <tr>
                <th>Typecommercialecl</th>
                <td>{{ client.typecommercialeCl }}</td>
            </tr>
            <tr>
                <th>Remisecl</th>
                <td>{{ client.remiseCl }}</td>
            </tr>
            <tr>
                <th>Faxcl</th>
                <td>{{ client.faxCl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
