<tr role="row" class="odd">
    <td class="article">
    	{{ form_widget(form.article) }}
        {{ form_errors(form.article) }}
    </td>
    <td class="qty"> 
    	{{ form_widget(form.quantite,  { 'attr': {  'style':'width:50px; '} }) }}
        {{ form_errors(form.quantite) }}
    </td>
   <td class="pvht"><input type="text" maxlength="100" size="10" value="" readonly /></td>
   <td class="totalht"><input type="text" maxlength="100" size="10" value="" readonly/></td>
   <td class="remise">
   		{{ form_widget(form.remise) }}
        {{ form_errors(form.remise) }}

   <td class="totalhtnet"><input type="text" maxlength="100" size="10" value="" readonly/></td>
   <td class="tva"><input type="text" maxlength="100" size="10" value="" readonly/></td>
   <td class="totalttc"><input type="text" maxlength="100" size="10" value="" readonly/></td>
   <td class="action">
   		<div class="hidden-sm hidden-xs action-buttons">
            <a class="red delete" href="#">
                <i class="ace-icon fa fa-trash-o bigger-130"></i>
            </a>
        </div>
    </td>
</tr>
