{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articledocuments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articleDocument in articleDocuments %}
            <tr>
                <td><a href="{{ path('articledocument_show', { 'id': articleDocument.id }) }}">{{ articleDocument.id }}</a></td>
                <td>{{ articleDocument.quantite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('articledocument_show', { 'id': articleDocument.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('articledocument_edit', { 'id': articleDocument.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articledocument_new') }}">Create a new articleDocument</a>
        </li>
    </ul>
{% endblock %}
