{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articledocument</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articleDocument.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ articleDocument.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articledocument_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articledocument_edit', { 'id': articleDocument.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
