{% extends 'base.html.twig' %}

{% block body %}
<script>

</script>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Données</a>
        </li>
        <li class="active">Gestion des Articles </li>

        <li class="active">Gestion  article </li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>


<div class="page-content" id="page-content">
    <div class="ace-settings-container" id="ace-settings-container">
        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
            <i class="ace-icon fa fa-cog bigger-130"></i>
        </div>

        <div class="ace-settings-box clearfix" id="ace-settings-box">
            <div class="pull-left width-50">
                <div class="ace-settings-item">
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>&nbsp; Choose Skin</span>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                    <label class="lbl" for="ace-settings-add-container">
                        Inside
                        <b>.container</b>
                    </label>
                </div>
            </div><!-- /.pull-left -->

            <div class="pull-left width-50">
                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                </div>
            </div><!-- /.pull-left -->
        </div><!-- /.ace-settings-box -->
    </div><!-- /.ace-settings-container -->

    <div class="row">

        <div class="col-xs-12">
            <button    onclick="window.location.href='{{ path('article_new') }}'" style="float: right;margin-right: 45px;margin-top: 12px;"> Créer un nouvel article</button>

            
            
<input type="button" onclick="printDiv('listAll')"  style="float: right;margin-right: 45px;margin-top: 12px;"value="Imprimer" />


            <h3 class="header smaller lighter blue">Liste Des Articles </h3>
            
                    
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>


        <div class="table-header">
            Liste Article
        </div>



        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="30px">Id</th>
                        <th width="30px">Reference</th>
                        <th width="30px">Designation</th>
                         <th width="30px">Bar Code</th>
                         <th width="30px">QT</th>
                        <th width="30px">PrixVDHT</th>
                        <th width="30px">PrixVDTTC</th>
                        <th width="30px">PrixVGHT</th>
                        <th width="30px">PrixVGTTC</th>
                         <th width="30px">PrixeAHT</th>
                        <th width="30px">PrixATTC</th>
                       
                        <th width="30px">Statut</th>
                       
                                                        <th width="30px">Tva</th>
                        <th width="30px">Actions</th>
                    </tr>
                </thead>

                <tbody>

                    {% for article in articles %}
                    <tr>
                        <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                        <td>{{ article.reference }}</td>
                        <td>{{ article.designation }}</td>
                        <td>{{ article.barCode }}</td>
                           <td>{{ article.Qt }}</td>
                        <td>{{ article.priceVDHT }}</td>
                        <td>{{ article.priceVDTTC }}</td>
                        <td>{{ article.priceVGHT }}</td>
                        <td>{{ article.priceVGTTC }}</td>
                        

                        <td>{{ article.priceAHT }}</td>
                        <td>{{ article.priceATTC }}</td>
                        <td>{% if article.status %}Yes{% else %}No{% endif %}</td>

                        
                <td>{{ article.tva }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('article_edit', { 'id': article.id }) }}"class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>

                                    <a href="#"  class="tooltip-error modal2" data-toggle="modal" data-target="#exampleModal" data-action="{{ path('article_delete', { 'id': article.id }) }}">
                                        <span class="red">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation"  >
                <center>
                     {{ knp_pagination_render(articles) }}
                </center>
            </div>
        </div>



        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">supprimer un article </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form name="form" method="post" action="">
            <H1>voulez vous supprimer ?</H1>
            <input name="_method" value="DELETE" type="hidden">
            <input value="Supprimer" type="submit">

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

        </div>
        </div>
    </div>
</div> 
<div id="listAll" style="display:none">
{{ render(controller( 'BM\\ArticleBundle\\Controller\\ArticleController::printAction'
    )) }}
</div>
{% endblock %}
