{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ article.reference }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ article.designation }}</td>
            </tr>
            <tr>
                <th>Pricevdht</th>
                <td>{{ article.priceVDHT }}</td>
            </tr>
            <tr>
                <th>Pricevdttc</th>
                <td>{{ article.priceVDTTC }}</td>
            </tr>
            <tr>
                <th>Pricevgttc</th>
                <td>{{ article.priceVGTTC }}</td>
            </tr>
            <tr>
                <th>Priceuht</th>
                <td>{{ article.priceAHT }}</td>
            </tr>
            <tr>
                <th>Pricettc</th>
                <td>{{ article.priceATTC }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if article.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cut</th>
                <td>{{ article.cut }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ article.color }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ article.height }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ article.width }}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ article.length }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ article.weight }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
