{% extends 'TrackCompanyBundle::Default/index.html.twig' %}

{% block content %}
<div id="content">
	<h1>Memebership</h1>
	<!-- newsletter form -->
	
	<!-- content tips part of the site -->
	
	<section class="tips-area">
		<div class="status-holder">
			<div class="membership row settings-status">
				<b>Your Status is</b><br>
				<div><span class="tage-free">Free</span> 189 days left</div>
				<span class="tage-info">This account is on a 90 day free trial, which allows for unlimited courses unlimited customer leads. Your free trial expires on Jun 6, 2014.</span>
				<!--<span class="tage-basic">Basic</span>-->
				<!--<span class="tage-pro">Pro</span>-->
				<div class="activate-box">
					<a href="backend_activate-basic-billing-address.html" class="abasic"><span class="icon-right"></span>Activate Basic now!</a>
				</div>
			</div>
		</div>
		<h2 style="margin-top:0px;">Your super advantages Basic:</h2>
		<ul class="list">
			<li><a href="#advantage-1"><span class="icon-check"></span>performance based billing (CPA)</a></li>
			<li><a href="#advantage-2"><span class="icon-check"></span>index unlimited courses</a></li>
			<li><a href="#advantage-3"><span class="icon-check"></span>get unlimited mail and telefon customer leads</a></li>
			<li><a href="#advantage-4"><span class="icon-check"></span>lead statistics</a></li>
			<li><a href="#advantage-5"><span class="icon-check"></span>create your company profile</a></li>
		</ul>
	</section>
	<section class="membership-content">
		<h1>Your super advantages<br>Basic Account</h1>
		
		<div class="circle-bg-green-icons"><span class="icon-down"></span></div>
		
		<!-- content 1 -->
		<div id="advantage-1" class="advantages-content">
			<div class="advantages-content-box">
				<h2>Performance based billing (CPA)</h2>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<p> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<ul class="list">
					<li><span class="icon-check"></span>performance based billing (CPA)</li>
					<li><span class="icon-check"></span>index unlimited courses</li>
					<li><span class="icon-check"></span>get unlimited mail and telefon customer leads</li>
				</ul>
				<a href="backend_activate-basic-billing-address.html" class="abasic"><span class="icon-right"></span>Activate Basic now!</a>
			</div>
			<div class="advantages-image-box"><img src="uploads/backend/blind-images.png" class="align-right"></div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="circle-bg-green-icons"><span class="icon-down"></span></div>
		
		<!-- content 2 -->
		<div id="advantage-2" class="advantages-content">
			<div class="advantages-content-box right">
				<h2>Index unlimited courses</h2>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<p> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<a href="backend_activate-basic-billing-address.html" class="abasic"><span class="icon-right"></span>Activate Basic now!</a>
			</div>
			<div class="advantages-image-box"><img src="uploads/backend/blind-images.png" class="align-left"></div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="circle-bg-green-icons"><span class="icon-down"></span></div>
		
		<!-- content 3 -->
		<div id="advantage-3" class="advantages-content">
			<div class="advantages-content-box">
				<h2>Get unlimited mail and telefon customer leads</h2>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<p> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<a href="backend_activate-basic-billing-address.html" class="abasic"><span class="icon-right"></span>Activate Basic now!</a>
			</div>
			<div class="advantages-image-box"><img src="uploads/backend/blind-images.png" class="align-right"></div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="circle-bg-green-icons"><span class="icon-down"></span></div>
		
		<!-- content 4 -->
		<div id="advantage-4" class="advantages-content">
			<div class="advantages-content-box right">
				<h2>Lead statistics</h2>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<p> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<ul class="list">
					<li><span class="icon-check"></span>performance based billing (CPA)</li>
					<li><span class="icon-check"></span>index unlimited courses</li>
					<li><span class="icon-check"></span>get unlimited mail and telefon customer leads</li>
				</ul>
				<a href="backend_activate-basic-billing-address.html" class="abasic"><span class="icon-right"></span>Activate Basic now!</a>
			</div>
			<div class="advantages-image-box"><img src="uploads/backend/blind-images.png" class="align-left"></div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="circle-bg-green-icons"><span class="icon-down"></span></div>
		
		<!-- content 5 -->
		<div id="advantage-5" class="advantages-content">
			<div class="advantages-content-box">
				<h2>Create your company profile</h2>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<p> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				<p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				<ul class="list">
					<li><span class="icon-check"></span>performance based billing (CPA)</li>
					<li><span class="icon-check"></span>index unlimited courses</li>
					<li><span class="icon-check"></span>get unlimited mail and telefon customer leads</li>
				</ul>
				<a href="backend_activate-basic-billing-address.html" class="abasic"><span class="icon-right"></span>Activate Basic now!</a>
			</div>
			<div class="advantages-image-box"><img src="uploads/backend/blind-images.png" class="align-right"></div>
			<div style="clear:both;"></div>
		</div>
	
	</section>
</div>
{% endblock content %}

